{% extends "HealthCentre/layout.html" %}

{% block title %}
Clinical-Your details
{% endblock %}

{% block bodytag %}

  {% load static %}
  <body background="{% static 'HealthCentre/images/plain.jpg' %}" style="background-size: auto auto;">

{% endblock %}

{% block body %}
    <br>
    {% for doctor in doctors %}
    {% if doctor.name == request.session.Name %}
    <div class="Backpanel" >
        <div class="container">
            <div class = "form-inline">
              <h4>Name :  &nbsp;&nbsp;&nbsp;</h4> 
              <br>
              <h5 style = "color: black">{{ doctor.name }}</h5>
            </div>
              {% comment %} class="btn btn-info" {% endcomment %}
              <br>
            <br>

            
            <div class = "form-inline">
            <h4>Clinic Name : &nbsp;&nbsp;&nbsp;</h4>
            <h5 style = "color: black">{{ doctor.clinicName }}</h5>
            </div>
            <br>

            <br>

            
            <div class = "form-inline">
            <h4>Qualification : &nbsp;&nbsp;&nbsp;</h4>
            <h5 style = "color: black">{{ doctor.educationalQualification }}</h5>
            </div>
            <br>

            <br>

            <div class = "form-inline">
            <h4>Specialization : &nbsp;&nbsp;&nbsp;</h4>
            <h5 style = "color: black">{{ doctor.specialization }}</h5>
            </div>
            <br>
            <div class = "form-inline">
                <h4 >Address : &nbsp;&nbsp;&nbsp;</h4>
                <h5 style = "color: black">{{ doctor.address }}</h5>
                {% comment %} <button class="btn btn-info" >Pin Code : ######</button> {% endcomment %}
            </div>
            <br>
            <br>

            {% comment %} <h1>Email</h1> {% endcomment %}
            <div class = "form-inline">
            <h4>Email : &nbsp;&nbsp;&nbsp;</h4>
            <h5 style = "color: black">{{ doctor.email }}</h5>
            </div>
            <br>
            <br>

            {% comment %} <h1 >Contact Number</h1> {% endcomment %}
            <div class = "form-inline">
            <h4>Contact Number : &nbsp;&nbsp;&nbsp;</h4>
            <h5 style = "color: black">{{ doctor.contactNumber }}</h5>
            </div>
        </div>
    </div>
        {% endif %}
        {% endfor %}
{% endblock %}
