{% extends "HealthCentre/layout.html" %}


{% block title %}
Clinical-Password reset
{% endblock%}


{% block bodytag %}

  {% load static %}
  <body background="{% static 'HealthCentre/images/plain.jpg' %}" style="background-size: auto auto;">

{% endblock %}

{% block body %}

    <div class="row; align: center;";>
        <div class="col-sm-6; align: center;" style="margin-top:2%;">
            <div class="Backpanel" >
                <h1 style="color:rgb(3, 3, 3)" align="center">
                  Reset Your password
                </h1>              
                
                <li class="dropdown-divider" align="left" style="border-color:rgb(0, 0, 0)"></li>
                <br>
                <form align="left" action="{% url 'passwordResetReq' %}" method="post" style="margin-right:5%" id= 'sendOtpForm'>
                    {% csrf_token %}
                    <br>

                    <div class="form-row" >
                        <div class="col-12">
                            <input name="resetemail" type="email" class="form-control" placeholder="Email Address" required>
                        </div>
                    </div>
                    <br>
                    <button type="submit" name = "sendOtp" id = "sendOtp" class = "hidein">Send OTP</button>
                </form>
                    
                    <br>
                    <form align="left" action="{% url 'verifyOtp' %}" method="post" style="margin-right:5%">
                        {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <input name="OTP" type="password" class="form-control" placeholder="Enter OTP">
                        </div>
                    </div>
                    <br>
                    <button type="submit">Verify OTP</button>
                    <br>
                    
                    <br>
                    <br>
                    <br>
                </form>
                    <form align="left" action="{% url 'verifyOtp' %}" method="post" style="margin-right:5%">
                        {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <input name="newPassword" type="password" class="form-control" placeholder="Enter new password">
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="col-12">
                            <input name="confirmPassword" type="password" class="form-control" placeholder="Confirm password">
                        </div>
                    </div>
                    <br>
                    <button type="submit">change password</button>
                    <br>
                </form>
                <br>
                <br>
                <br>
                <label for="userType" style="width:100%;margin: 10px auto;text-align: center;">Haven't registered yet?</label>
                <!-- <h2>Haven't registered yet?</h2> --><br>

                <a class="btn btn-dark btn-lg" href="{% url 'register' %}" role="button" style="width:100%;margin: auto;">Register</a>
            </form>
                {% if message %}
                    <div style="text-align:center;margin:0 auto;"class="alert alert-danger" role="alert" >
                        {{ message }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <br>



    <br>

<script>
document.addEventListener('DOMContentLoaded',function(){


    var sendOtpForm = document.getElementById('sendOtpForm');
    sendOtpForm.addEventListener('submit', function(){
        console.log("how to check :  ",sendOtpForm );
    var sendOtp = document.getElementById('sendOtp');
    //sendOtp.addEventListener('click', function(){
        sendOtp.className = 'hidein';
    });
}); 


</script>


{% endblock %}
